<%- include ../../partials/header.ejs %>
  <link rel="stylesheet" href="../stylesheets/transactions.css" />
  <body>
    <%- include ../../partials/sidebar.ejs %>
    <main class="content flex-fill">
      <section>
        <button
          aria-controls="sidebar"
          data-bs-toggle="offcanvas"
          data-bs-target=".sidebar"
          aria-label="Button Hamburger"
          class="sidebarOffcanvas mb-5 btn p-0 border-0 d-flex d-lg-none"
        >
          <i class="fa-solid fa-bars"></i>
        </button>
        <nav class="nav-content gap-5">
          <div class="d-flex gap-3 align-items-center">
            <img
              src="/assets/images/photo.webp"
              alt="Photo Profile"
              class="photo-profile"
            />
            <div>
              <p class="title-content mb-2">Good Morning, Admin</p>
            </div>
          </div>
        </nav>
      </section>
      <div class="latest-transaction">
        <p class="text-lg fw-medium color-palette-1 mb-14">Latest Transactions</p>
        <div class="main-content main-content-table overflow-auto">
            <table class="table table-borderless">
                <thead>
                    <tr class="color-palette-1">
                        <th class="" scope="col">Nama</th>
                        <th scope="col">Harga</th>
                        <th scope="col">Penjual</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody id="list_status_item">
                  <% for(var i=0; i<item.length; i++) {%>
                    <tr data-category="pending" class="align-middle">
                        <td>
                          <p class="fw-medium color-palette-1 m-0"><%= item[i].name %> </p>
                        </td>
                        <td>
                          <p class="fw-medium color-palette-1 m-0">Rp. <%= item[i].price %> </p>
                        </td>
                        <td>
                          <p class="fw-medium color-palette-1 m-0"><%= item[i].seller.username %></p>
                        </td>
                        <td>
                          <p class="fw-medium color-palette-1 m-0"><%= item[i].status %></p>
                        </td>
                    </tr>
                  <% } %>
                </tbody>
            </table>
        </div>
    </div>
    </main>

    <%- include ../../partials/js.ejs %>
  </body>
</html>
