<%- include ../../partials/header.ejs %>
  <body>
    <%- include ../../partials/sidebar.ejs %>
    <main class="content flex-fill">
      <section>
        <button
          aria-controls="sidebar"
          data-bs-toggle="offcanvas"
          data-bs-target=".sidebar"
          aria-label="Button Hamburger"
          class="sidebarOffcanvas mb-5 btn p-0 border-0 d-flex d-lg-none"
        >
          <i class="fa-solid fa-bars"></i>
        </button>
        <nav class="nav-content gap-5">
          <div class="d-flex gap-3 align-items-center">
            <img
              src="/assets/images/photo.webp"
              alt="Photo Profile"
              class="photo-profile"
            />
            <div>
              <p class="title-content mb-2">Good Morning, Admin</p>
            </div>
          </div>
        </nav>
      </section>

      <section class="d-flex flex-column gap-4">
        <div class="d-flex justify-content-between align-items-center gap-3">
          <h4 class="title-section-content">Bank</h4>
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="col-6">
              <div class="main-content main-content-table overflow-auto rounded shadow p-10">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th>No</th>
                      <th>Bank Name</th>
                      <th>Account Number</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                      <% for(var i=0; i<bank.length; i++) {%>
                        <tr data-widget="expandable-table" aria-expanded="false">
                          <td><%= i+1 %></td>
                          <td><%= bank[i].bankName %></td>
                          <td><%= bank[i].accountNumber %></td>
                          <td>
                            <form action="/admin/bank/<%= bank[i]._id %>?_method=DELETE" method="POST">
                              <button type="submit" class="btn btn-primary">Delete</button>
                            </form>
                          </td>
                        </tr>
                        <tr class="expandable-body">
                          <td colspan="5">
                            <!-- general form elements -->
                            <div class="card card-primary">
                              <div class="card-header">
                                <h3 class="card-title">Edit Bank</h3>
                              </div>
                              <!-- /.card-header -->
                              <!-- form start -->
                              <form action="/admin/bank/<%= bank[i]._id %>?_method=PUT" method="POST">
                                <div class="card-body">
                                  <div class="form-group">
                                    <label for="exampleInputEmail1">Bank Name</label>
                                    <input type="text" class="form-control" id="name" name="name" value="<%= bank[i].bankName %>">
                                    <label for="exampleInputEmail1">Account Number</label>
                                    <input type="text" class="form-control" id="name" name="accountNumber" value="<%= bank[i].accountNumber %>">
                                  </div>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                  <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                              </form>
                            </div>
                          <!-- /.card -->
                          </td>
                        </tr>
                      <% } %>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            
            <!-- /.card -->
          </div>

          <div class="col-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Edit name</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form action="/admin/bank" method="POST">
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Bank Name</label>
                    <input type="text" class="form-control" name="bankName" id="name" placeholder="Enter name" required>
                    <label for="exampleInputEmail1">Account Number</label>
                    <input type="text" class="form-control" name="accountNumber" id="name" placeholder="Enter name" required>
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        
      </section>
    </main>

    <%- include ../../partials/js.ejs %>
  </body>
</html>
